@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

body
{
    background: url(/img/bg-header.png) rgba(0,0,0,0.3);
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
}

li {
    list-style: none;
}

.img-logo {
    width: 40px;
}

.vh-50 {
    height: 50vmin;
}


/* Esqueleto del menu */
.wrapper {
    align-items: stretch;
    display: flex;
    width: 100%;
}

#sidebar {
    max-width: 264px;
    min-width: 264px;
    transition: all 0.35s ease-in-out;
    box-shadow: 0 0 35px 0 rgba(49,57,66,0.5);
    z-index: 1111;
}

/* colapso del menu lateral */
#sidebar.collapsed {

    margin-left: -264px;

}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
}
.content {
    font-size: 1.2375rem;
    color: #fff;
}
.sidebar-logo {
    padding: 1.15rem 1.5rem;
}

.sidebar-logo a {
    color: #e9ecef;
    font-size: 1.25rem;
    font-weight: 600;
}

.sidebar-nav {
    padding:0;
}

.sidebar-header {
    color: #e9ecef;
    font-size: 0.75rem;
    text-transform: capitalize;
    padding: 1.5rem 1.5rem 0.375rem;
}

a.sidebar-link {
    padding: 0.625rem 1.625rem;
    color: #e0ecef;
    position: relative;
    display: block;
    font-size: 1rem;
}

.sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 0.075rem 0.075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all 0.2s ease-out;
}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all 0.2s ease-out;
}

@media (min-width: 768px) {
    .content {
        width: auto;
    }
}